*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(87, 85, 85);
}

.container{
    width: 500px;
    min-width: 300px;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.container input{
    width: 100%;
    height: 40px;
    margin: 20px 0;
}

.generateBtn{
    width: 100%;
    height: 40px;
    background-color: rgb(112, 87, 240);
    border: none;
    font-size: larger;
    margin: 20px 0;
    cursor: pointer;
}

.qrBox{
    /* border: 2px solid; */
    max-height: 200px;
    text-align: center;
    overflow: hidden;
    transition: max-height ease 1s;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}