*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 25%;
    min-width: 300px;
    height: 60%;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

.screen {
    width: 100%;
    height: 70px;    
    margin-bottom: 20px;        
    background-color: white;
    color: black;
    display: flex;         
    align-items: center;
    justify-content: flex-end; 
    padding: 0 15px;    
    font-size: 32px;
    border-radius: 10px;
    overflow: hidden;
}

.btns{
    width: 100%;
    height: 60%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, 1fr);
}

.btn{
    width: 100%;
    height: 100%;
    font-size: large;
}

.calculate{
    width: 100%;
    height: 15%;
    margin-top: 15px;
}

.calc{
    width: 100%;
    height: 100%;
    background-color: red;
    border: none;
    font-size: 40px;
    color: white;
}